<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pagos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script th:inline="javascript">
        var estudiantes = /*[[${estudiantes}]]*/ [];

        function cerrarModal(){
            $('#myModal').modal('hide');
        }
        function fillTable(estudiantes) {
            var tableBody = document.getElementById("tableBody");
            tableBody.innerHTML = "";
            estudiantes.forEach(function(estudiante) {
                var row = "<tr>" +
                          "<td>" + estudiante.nombres + "</td>" +
                          "<td>" + estudiante.apellidos + "</td>" +
                          "<td>" + estudiante.rut + "</td>" +
                          "<td>" + estudiante.fecha_nacimiento + "</td>" +
                          " " +
                          "</tr>";
                tableBody.innerHTML += row;
            });
        }
        function abrirModal(estudianteId) {
            console.log(estudianteId);
            $('#myModal').modal('show');
        }

        $(document).ready(function() {
            $('.ver-historial-btn').on('click', function() {
                var estudianteId = $(this).data('id-estudiante');
                var estudianteRut = $(this).data('rut');

                $('#estudianteId').text(estudianteId);
                $('#estudianteRut').text(estudianteRut);
                obtenerPagos(estudianteId);

                $('#myModal').modal('show');
            });
        });

        function obtenerPagos(estudianteId) {
            var url = "/pagosEstudiante/" + estudianteId;

            fetch(url, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error de red al llamar al endpoint");
                }
                return response.json();
            })
            .then(data => {
                console.log("Lista de pagos del estudiante:", data);
                mostrarPagosEnTabla(data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }

        function mostrarPagosEnTabla(pagos) {
            var tabla = document.createElement("table");
            tabla.classList.add("table");

            var encabezados = ["Fecha de pago", "Fecha de vencimiento", "Número de Cuota", "Monto", "Estado"];
            var encabezadoRow = document.createElement("tr");
            encabezados.forEach(function(encabezado) {
                var th = document.createElement("th");
                th.textContent = encabezado;
                encabezadoRow.appendChild(th);
            });
            tabla.appendChild(encabezadoRow);

            pagos.forEach(function(pago) {
                var fila = document.createElement("tr");

                var fechaPagoCell = document.createElement("td");
                if(pago.fecha_pago == null){
                    fechaPagoCell.textContent = "-";
                }else{
                    var fechaPago = new Date(pago.fecha_pago);
                    var opcionesFormatoPago = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    fechaPagoCell.textContent = fechaPago.toLocaleDateString(undefined, opcionesFormatoPago);
                }
                fila.appendChild(fechaPagoCell);

                var fechaVencimientoCell = document.createElement("td");
                var fechaVencimiento = new Date(pago.fecha_vencimiento);
                var opcionesFormato = { year: 'numeric', month: '2-digit', day: '2-digit' };
                fechaVencimientoCell.textContent = fechaVencimiento.toLocaleDateString(undefined, opcionesFormato);
                fila.appendChild(fechaVencimientoCell);

                var numeroCuotaCell = document.createElement("td");
                numeroCuotaCell.textContent = pago.numero_cuota;
                fila.appendChild(numeroCuotaCell);

                var montoCell = document.createElement("td");
                montoCell.textContent = pago.montoPago;
                fila.appendChild(montoCell);

                var estadoCell = document.createElement("td");
                if(pago.fecha_pago == null){
                    estadoCell.textContent = "Sin pago";
                }else{
                    estadoCell.textContent = "Pagado";
                }
                fila.appendChild(estadoCell);

                var pagarCell = document.createElement("td");
                var pagarButton = document.createElement("button");
                pagarButton.textContent = "Pagar";
                pagarButton.classList.add("btn", "btn-primary");
                pagarButton.onclick = function() {
                    pagarCuota(pago.id_pago);
                };
                pagarCell.appendChild(pagarButton);
                fila.appendChild(pagarCell);

                tabla.appendChild(fila);
            });

            var contenedorTabla = document.getElementById("contenedor-tabla");
            contenedorTabla.innerHTML = "";
            contenedorTabla.appendChild(tabla);
        }

        function pagarCuota(idPago) {
            var url = "/pagarCuota/" + idPago;

            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error al pagar la cuota");
                }
                return response.json();
            })
            .then(data => {
                console.log("Cuota pagada correctamente:", data);
            })
            .catch(error => {
                console.error("Error al pagar la cuota:", error);
            });
        }


    </script>
</head>
<body>
<div class="container mt-5">
    <h1>Lista de Pagos</h1>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">RUT</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Colegio de procedencia</th>
            <th scope="col">Año egreso</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.nombres}"></td>
            <td th:text="${estudiante.apellidos}"></td>
            <td th:text="${estudiante.rut}"></td>
            <td th:text="${#dates.format(estudiante.fecha_nacimiento, 'dd/MM/yyyy')}"></td>
            <td th:text="${estudiante.tipo_colegio_procedencia}"></td>
            <td th:text="${estudiante.anio_egreso}"></td>
            <td>
                <a class="btn btn-primary btn-sm ver-historial-btn"
                   th:attr="data-id-estudiante=${estudiante.id_estudiante},
                   data-nombres=${estudiante.nombres},
                   data-apellidos=${estudiante.apellidos},
                   data-rut=${estudiante.rut},
                   data-tipo-colegio=${estudiante.tipo_colegio_procedencia},
                   data-anio-egreso=${estudiante.anio_egreso}"
                   data-toggle="modal" data-target="#myModal">
                    Ver pagos y pendientes
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del Estudiante</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="cerrarModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ID del Estudiante: <span id="estudianteId"></span></p>
                <p>Rut: <span id="estudianteRut"></span></p>
            </div>
            <div id="contenedor-tabla"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
